.landing {
  height: 100vh;
  background-image: url('./hero-image.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.landing .info {
  background: linear-gradient(45deg, #fafaff 0%, #f8f8ff 100%);
  border-radius: 1em;
  padding: 5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing .info .heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.landing .info .head {
  font-size: 3em;
  margin: 0.5em 0 0 0;
  width: 100%;
  font-weight: bold;
}

.landing .info .pg {
  font-size: 1.5em;
  margin: 0.5em 0 1em 0;
  font-weight: bold;
}

.landing .info .form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.landing .info .find-food-btn {
  background: linear-gradient(45deg, #00b4d8 0%, #00cdd8 100%);
  color: #ffffff;
}

.landing .credit {
  text-align: center;
  font-size: 0.8em;
  position: absolute;
  left: 50%;
  bottom: 0px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}