.grid {
  display: flex;
  margin: 2em 15%;
  gap: 40px;
}

.restaurant-view, .menu-box {
  background: linear-gradient(45deg, #fafaff 0%, #f8f8ff 100%);
  padding: 1em;
  border-radius: 1em;
  margin-top: 2em;
}

.restaurant-view .banner {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.restaurant-view .item {
  background: linear-gradient(45deg, #e2e2e2 0%, #f1f1f1 100%);;
  padding: 1em;
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 1em;
  margin: 1em;
}

.restaurant-view .title {
  font-weight: bold;
}

.restaurant-view .title, .restaurant-view .description {
  max-width: 300px;
}

.menu-box {
  position: fixed;
  right: 10px;
  overflow: auto;
  max-width: 200px;
  max-height: 490px;
}