@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

.app {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #cae9ff 0%, #99ecfe 100%);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.btn,
.input,
.select,
.textarea {
  border-radius: 5px;
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  letter-spacing: -0.04em;
  font-size: 1em;
  box-sizing:content-box;
}

.btn {
  border: none;
  padding: 0.5em 1em;
  transition: 0.125s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  filter: brightness(1.05);
}

.btn:active {
  filter: brightness(1.1);
}

.input, .select {
  padding: 8px;
}

.app::-webkit-scrollbar {
  display: none;
}

.navbar-margin-top {
  margin-top: 100px;
  overflow: auto;
}