.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  background: linear-gradient(45deg, #fafaff 0%, #f8f8ff 100%);
}

.navbar .links {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.navbar .login-btn {
  background: linear-gradient(45deg, #00b4d8 0%, #00cdd8 100%);
  color: #ffffff;
}

.navbar .signup-btn {
  background: linear-gradient(45deg, #0077b6 0%, #00a6d1 100%);
  color: #ffffff;
}