.register {
  background: linear-gradient(45deg, #fafaff 0%, #f8f8ff 100%);
  border-radius: 1em;
  padding: 4em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.register .label,
.register .login-info,
.register .err-msg {
  font-weight: bold;
}

.register .header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.register .head {
  margin: 0.25em 0 0 0;
  font-size: 2.5em;
}

.register .err-msg {
  margin: 1em 0 0 0;
  background: linear-gradient(45deg, #ef233c 0%, #ff5a7e 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  -ms-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-float-color: transparent;
  -o-text-float-color: transparent;
  -ms-text-float-color: transparent;
}

.register .form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.register .row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1.5em
}

.register .spacing {
  margin-top: 1em;
}

.register .label {
  font-size: 0.9em;
}

.register .signup-input,
.register .role-sel {
  width: 250px;
  border: 0.5px solid #00000080;
}

.register ::placeholder {
  opacity: 0.5;
}

.register .checkbox {
  width: 267px;
}

.register .signup-btn {
  background: linear-gradient(45deg, #00b4d8 0%, #00cdd8 100%);
  color: #ffffff;
}

.register .line-break {
  margin-top: 1em;
  border: 0.5px solid #00000080;
}

.register .login-info {
  text-align: center;
}

.register .signing-up {
  display: flex;
  gap: 5px;
  pointer-events: none;
  flex-direction: row;
}

.register .text-link {
  background: linear-gradient(45deg, #00b4d8 0%, #00cdd8 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  -ms-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-float-color: transparent;
  -o-text-float-color: transparent;
  -ms-text-float-color: transparent;
}