.dashboard {
  margin: 3em 5em;
}

.dashboard .filter-session {
  background: linear-gradient(45deg, #fafaff 0%, #f8f8ff 100%);
  padding: 1em 2em;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  border-radius: 1em;
  box-sizing: border-box;
  width: 100%;
}

.dashboard .search-input {
  width: 300px;
  border: 1px solid #00000080;
}

.dashboard .filter {
  display: flex;
  gap: 30px;
}

.dashboard .cart-btn {
  display: flex;
  gap: 5px;
  background: linear-gradient(45deg, #0077b6 0%, #00a6d1 100%);
  color: #ffffff;
  align-items: center;
}

.dashboard .grid {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 2em auto;
  flex-wrap: wrap;
}

.dashboard .center-btn {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.dashboard .load-more-btn {
  background: linear-gradient(45deg, #00b4d8 0%, #00cdd8 100%);
  color: #ffffff;
}

.dashboard .loading-more {
  display: flex;
  gap: 5px;
  pointer-events: none;
  flex-direction: row;
}