.login {
  background: linear-gradient(45deg, #fafaff 0%, #f8f8ff 100%);
  border-radius: 1em;
  padding: 4em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login .label,
.login .signup-info,
.login .err-msg {
  font-weight: bold;
}

.login .header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.login .head {
  margin: 0.25em 0 0 0;
  font-size: 2.5em;
}

.login .err-msg {
  margin: 1em 0 0 0;
  background: linear-gradient(45deg, #ef233c 0%, #ff5a7e 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  -ms-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-float-color: transparent;
  -o-text-float-color: transparent;
  -ms-text-float-color: transparent;
}

.login .form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.login .spacing {
  margin-top: 1em;
}

.login .label {
  font-size: 0.9em;
}

.login .login-input {
  width: 250px;
  border: 0.5px solid #00000080;
}

.login ::placeholder {
  opacity: 0.5;
}

.login .login-btn {
  background: linear-gradient(45deg, #00b4d8 0%, #00cdd8 100%);
  color: #ffffff;
}

.login .line-break {
  margin-top: 1em;
  border: 0.5px solid #00000080;
}

.login .signup-info {
  text-align: center;
}

.login .loading {
  display: flex;
  gap: 5px;
  pointer-events: none;
}

.login .text-link {
  background: linear-gradient(45deg, #00b4d8 0%, #00cdd8 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  -ms-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-float-color: transparent;
  -o-text-float-color: transparent;
  -ms-text-float-color: transparent;
}
