.restaurant-card {
  display: inline-flex;
  background: linear-gradient(45deg, #fafaff 0%, #f8f8ff 100%);
  border-radius: 1em;
}

.restaurant-card .banner {
  width: 350px;
  height: 175px;
  border-radius: 1em 1em 0 0;
  object-fit: cover;
}

.restaurant-card .restaurnat-title {
  max-width: 270px;
  font-size: 1.5em;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.restaurant-card .address {
  font-size: 1em;
  margin: 0.25em 0;
  max-width: 210px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.restaurant-card .info {
  margin: 0;
}

.restaurant-card .distance {
  font-size: 1em;
  margin: 0;
}

.restaurant-card .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 1em;
}